<%- include("header") -%>
<div class="ui comments">
    <h3 class="ui dividing header">Commentaires</h3>
    <div class="comment">
        <a class="avatar">
            <img src="https://randomuser.me/api/portraits/lego/7.jpg">
        </a>
        <div class="content">
            <div class="metadata">
                <%= post.createdDate.fromNow() %>
            </div>
            <div class="text">
                <%= post.content %>
            </div>
        </div>
    </div>
</div>
<%- include("footer") -%>